log.txt
train_ddp_process_*.log
__pycache__
.hydra
.eggs
diffusion.egg-info
lightning_logs
outputs
wandb
wiki_pret_old
experiments
old_code
slurm-*.out
accuracy
stats
data
generated_texts
metrics*
*.pth
.ipynb_checkpoints
*.png
notebooks/interpol_*
